*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

    ul {
        border: solid blueviolet;
         height: 100px; 
         background-color: beige;


}

   li {
 display:inline-block; 
 font-size: 30px; 
 margin-left: 60px;
 margin-top: 50px;
 color: black;
}

div{
    border: solid black; 
    display: inline-block;
    margin-left: 50px;
}

img{ width: 200px;
}